.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
    padding-top: 86px;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
